*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-image: url(../Portfolio/images/pexels-photo.webp);
    color: white;
    
}

body h1{
    text-align: center;
    color: rgb(207, 245, 69);
}


body h2{
    text-align: center;
    background-color: aqua;
    color: rgb(243, 64, 64);
}


a:any-link{
    color: rgb(232, 122, 122);
    background-color: rgb(54, 34, 34);
    text-align: center;
}

 